    <div class="row" id="status-cards">

      <a class="col-xl-3 col-md-6 mb-4" href="{% url 'core:dashboard-userincidents' %}">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Все инциденты по заявкам</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ user_incidents }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-address-card fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a class="col-xl-3 col-md-6 mb-4" href="{% url 'core:dashboard-userincidents-unprocessed' %}">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Не обработано инцидентов по заявкам</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ unprocessed_userincidents }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-exclamation fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a class="col-xl-3 col-md-6 mb-4" href="{% url 'core:dashboard-mediaincidents' %}">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Все инциденты из СМИ</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ media_incidents }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-newspaper fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a class="col-xl-3 col-md-6 mb-4" href="{% url 'core:dashboard-mediaincidents-unprocessed' %}">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Не обработано инцидентов из СМИ</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ unprocessed_mediaincidents }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-exclamation fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </a>

    </div>
