{% extends 'core/dashboard/layout.html' %}

{% load static %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block container %}
  <form class="form-horizontal"
        method="post"
        enctype="multipart/form-data"
        action="{% url 'core:dashboard-user-update' %}">
    {% csrf_token %}
    <div class="form-group">
      {{ form.first_name }}
    </div>
    <div class="form-group">
      {{ form.last_name }}
    </div>
    <div class="form-group">
      {{ form.biography }}
    </div>

    <div class="form-group">
      {{ form.organizations }}
    </div>

    <div class="form-group">
      {{ form.photo }}
    </div>

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <div class="text-success">
            <strong>{{ message }}</strong>
          </div>
        {% else %}
          <div class="text-danger">
            <strong>{{ message }}</strong>
          </div>
        {% endif %}
      {% endfor %}
      <br>
    {% endif %}

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">
          Обновить
        </button>
      </div>
    </div>
  </form>

{% endblock %}
