{% extends 'core/dashboard/layout.html' %}

{% load static %}

{% block title %} Новый тег {% endblock title %}

{% block container %}

{% if saved %}
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <i class="fas fa-check-circle"></i>
    Тег успешно сохранен
  </div>
  {% if tag.is_active %}
    <div class="alert alert-primary alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <i class="fas fa-info-circle"></i>
      Простановка тега в инцидентах займет несколько минут
    </div>
  {% endif %}
{% endif %}

<form id="mediaincident" class="form-horizontal" method="post">
  {% csrf_token %}

  <div class="card shadow mb-4">

    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        {{ tag.name|default:"Новый тег" }}
      </h6>
    </div>

    <div class="card-body">
      {% if form.errors %}
        <p class="alert alert-danger">{{ form.errors }}</p>
      {% endif %}

      <div class="form-group">
        <label for="{{ form.name.id_for_label }}">Имя тега:</label>
        {{ form.name }}
      </div>

      <div class="form-group">
        <label for="{{ form.name.id_for_label }}">Маркеры через запятую:</label>
        {{ form.markers }}
      </div>

      <div class="mb-4">
        <label class="big-label">
          {{ form.is_active }}
          Активен
        </label>
      </div>

      <button id="save" class="btn btn-primary mb-4" type="submit">
        Сохранить
      </button>

    </div>
  </div>
</form>

{% endblock %}
