{% extends 'core/dashboard/layout.html' %}

{% load static %}

{% block title %} Статья #{{ article.pk }} {% endblock title %}

{% block container %}

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Статья #{{ article.pk }}
      </h6>
    </div>

    <div class="card-body text-dark labels-style">
      <p>
        <a href="{{ article.url }}" target="_blank"><i class="fa fa-link"></i> {{ article.url|truncatechars:70 }}</a>
      </p>

      <h2>{{ article.title }}</h2>

      <div>
        {{ article.text|linebreaks }}
      </div>

      <div>
        <label>Оценка:</label>

        <div class="progress" style="height: 20px;">
          <div class="progress-bar bg-{{ color }}" role="progressbar" style="width: {{ percents }}%;">
            {{ percents }}
          </div>
        </div>
      </div>

      <div class="mt-4">
        <form action="{% url 'core:dashboard-article-approve' article.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" name="approved" value="1" class="btn btn-primary">Принять</button>
          <button type="submit" name="approved" value="0" class="btn btn-danger">Отклонить</button>
        </form>
      </div>

      <p class="card-text mt-4">
        <small class="text-muted mr-1">
          <i class="fa fa-calendar-alt"></i> {{ article.create_date | date:'d.m.Y' }}
        </small>
        {% if article.assigned_to %}
          <small class="text-muted ml-1">
            <i class="fa fa-user-alt"></i> {{ article.assigned_to.get_full_name }}
          </small>
        {% endif %}
      </p>
    </div>

  </div>

{% endblock %}
