{% extends 'core/dashboard/layout.html' %}

{% load static %}

{% block title %} Дополнительная страница кампании {% endblock title %}

{% block container %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/';</script>

<form id="mediaincident"
      class="form-horizontal"
      method="post">
  {% csrf_token %}

  <div class="card shadow mb-4">

    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        {{ page.title|default:"Новая дополнительная страница" }}
      </h6>
    </div>

    <div class="card-body col-12">
      <p>{{ form.errors }}</p>
      {% for field in form.visible_fields %}
        <p>{{ field.label_tag }} {{ field }}</p>
      {% endfor %}
    </div>
  </div>

  <div class="mt-4">
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-save"></i>
      Сохранить
    </button>
  </div>

</form>

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

