{% extends 'core/dashboard/layout.html' %}

{% load static %}

{% block title %} Новый инцидент из СМИ {% endblock title %}

{% block container %}

<form id="mediaincident"
      class="form-horizontal"
      method="post"
      enctype="multipart/form-data">
  {% csrf_token %}

  <div class="card shadow mb-4">

    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        {{ campaign.name|default:"Новый инцидент из СМИ" }}
      </h6>
    </div>

    <div class="card-body">
      {% if form.errors %}
        <p class="alert alert-danger">{{ form.errors }}</p>
      {% endif %}

      {% for field in form.visible_fields %}
        <p>{{ field.label_tag }} {{ field }}</p>
      {% endfor %}


    </div>
  </div>

  <div class="mt-4">
    <button type="submit" name="status" value="2" class="btn btn-success"><i class="fas fa-check"></i> Принять</button>
    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
  </div>

</form>

{% endblock %}

{% block dashboard_scripts %}
<script type="text/javascript">
  let dateValue = $("#id_create_date").val();
  if (!dateValue) {
    let date = new Date()
    let dateValue = [
      (date).getFullYear(),
      ('0' + (date.getMonth() + 1)).slice(-2),
      ('0' + date.getDate()).slice(-2)
    ].join('-');
    $("#id_create_date").val(dateValue)
  }
  let countValue = $("#id_count").val();
  if (!countValue) {
    $("#id_count").val("1")
  }
  $("#id_incident_type").val("0");
</script>
{% endblock %}
