{% load static %}

<div id="explanation-modal" class="modal">
  <h5 id="explanation-header">Редактирование блока объяснений</h5>
  <form id="explanation-form" class="card-body form" method="post">{% csrf_token %}
    <h6>{{ campaign.name }}</h6>
    <div class="form-group">
      <label>Заголовок</label>
      {{ form.title }}
    </div>
    <div class="form-group">
      <label>Текст</label><br>
      {{ form.text }}
    </div>
    <div class="form-group">
      <label>
        {{ form.emphasized }}
        Выделить рамкой
      </label><br>
    </div>
    <button type="submit" rel="modal:close" class="btn btn-primary">Сохранить</button>
    <a href="#" rel="modal:close" class="cancel btn btn-danger">Отмена</a>
  </form>

  <script type="text/javascript">
    $("#explanation-form").submit(function(e) {
      e.preventDefault();
      let form = $(this);
      {% if object %}
        let url = "/dashboard/campaign/{{ campaign_pk }}/explanation/{{ object.pk }}/update/";
      {% else %}
        let url = "/dashboard/campaign/{{ campaign_pk }}/explanation/create/";
      {% endif %}
      let title = $("#id_title").val();
      let emphasized = $("#id_emphasized").is(':checked');
      let text = $("#id_text").val();
      let campaign_pk = "{{ campaign_pk }}";
      let data = {"title": title, "emphasized": emphasized, "text": text};
      $.ajax({
        type: "POST",
        url: url,
        data: data,
        success: function() {
          let title = $("#explanation-form input[name=title]").val()
          let emphasized = $("#explanation-form input[name=emphasized]").val()
          {% if object %}
            $("#explanation-{{ object.pk }} .explanation-title").text(title)
            $("#explanation-{{ object.pk }} .explanation-emphasized").text(emphasized)
            $.modal.close();
          {% else %}
            location.reload();
          {% endif %}
        }
      });
    });
  </script>
</div>
