# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be commited to the VCS, but must not contain
# any secret values.

# === Database ===
POSTGRES_DB=report_antijob
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=db

# === General ===
DJANGO_ENV=production
PROJECT=dfgdfg
DJANGO_KEY=123
HOST=report.antijob.net
TRAEFIK_HOST=traefik-report.antijob.net
USER="github-actions"
CF_DNS_API_TOKEN=

# === Email ===
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=25
EMAIL_USE_TLS=

# ===3d-Party ===
REDIS_HOST=redis
SENTRY_DSN=
TELEGRAM_BOT_TOKEN=


CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0

# === API ===

API_TOKEN=1234
API_RPS='1/second'
