services:
  traefik:
    image: "traefik:3"
    command:
      - "--ping=true"
      - "--api.dashboard=true"
      - "--api.insecure=false"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=djangonetwork"
      - "--accesslog.filepath=/data/access.log"
      # entrypoints
      - "--entrypoints.http.address=:80"
      - "--entrypoints.https.address=:443"
      - "--entrypoints.traefik.address=:8888"
      # certificatesresolvers
      - "--providers.file.filename=/etc/traefik/dynamic/tls.yml"
      - "--providers.file.watch=true"
      - "--log.level=DEBUG"
    container_name: "traefik"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "traefik-public-certificates:/certificates"
    labels:
      traefik.enable: "true"
      traefik.http.routers.dashboard.rule: "Host(`${TRAEFIK_HOST}`)"
      traefik.http.routers.dashboard.entrypoints: "traefik"
      traefik.http.routers.dashboard.service: "api@internal"
      traefik.http.routers.dashboard.middlewares: "auth"
      # Define basic auth middleware
      traefik.http.middlewares.auth.basicauth.users: "admin:$$2y$$10$$X7rFwqB45ACe3qXNwCyQiOGEZ/11SbWoWPdfBTbGgX8XFOO9VCHEe" # admin:admin
    ports:
      - "80:80"
      - "443:443"
      - "8888:8888"
    configs:
      - source: traefik_config
        target: /etc/traefik/dynamic/tls.yml
    secrets:
      - origin_crt
      - origin_key
    networks:
      - djangonetwork

  db:
    extends:
      file: docker-compose.yaml
      service: db
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data

  web:
    image: antijob/neuro-parser:${NEURO_PARSER_VERSION}
    extends:
      file: docker-compose.yaml
      service: web
    command: /bin/bash -c ./docker/web/entrypoint-prod.sh
    environment:
      DEBUG: "${DEBUG}"
    volumes:
      - /root/models:/code/models
      - "staticfiles-data:/code/public/static"
      - "thelethon:/code/.telethon"
    expose:
      - "8000"
    labels:
      traefik.enable: "true"
      traefik.http.routers.django.rule: "Host(`${HOST}`) && !PathPrefix(`/static/`)"
      traefik.http.routers.django.entrypoints: "https"
      traefik.http.routers.django.tls: "true"
      traefik.http.services.django.loadbalancer.server.port: "8000"

  celery:
    image: antijob/neuro-parser:${NEURO_PARSER_VERSION}
    extends:
      file: docker-compose.yaml
      service: celery
    volumes:
      - /root/models:/code/models
      - "thelethon:/code/.telethon"

  bot:
    image: antijob/neuro-parser:${NEURO_PARSER_VERSION}
    extends:
      file: docker-compose.yaml
      service: bot
    volumes: []

  flower:
    extends:
      file: docker-compose.yaml
      service: flower
    labels:
      traefik.enable: "true"
      traefik.http.routers.flower.rule: "Host(`${FLOWER_HOST}`)"
      traefik.http.routers.flower.entrypoints: "https"
      traefik.http.routers.flower.tls: "true"
      traefik.http.services.flower.loadbalancer.server.port: "5555"
  redis:
    extends:
      file: docker-compose.yaml
      service: redis

  nginx:
    image: nginx:1.23
    restart: unless-stopped
    volumes:
      - staticfiles-data:/usr/share/nginx/html/static:ro
    depends_on:
      - web
    networks:
      - djangonetwork
    labels:
      traefik.enable: "true"
      traefik.http.routers.staticfiles.rule: "Host(`${HOST}`) && PathPrefix(`/static/`)"
      traefik.http.routers.staticfiles.entrypoints: "https"
      traefik.http.routers.staticfiles.tls: "true"
      traefik.http.services.staticfiles.loadbalancer.server.port: "80"

volumes:
  staticfiles-data:
  postgres_data_prod:
  traefik-public-certificates:
  thelethon:

configs:
  traefik_config:
    file: ./traefik/dynamic/tls.yml

networks:
  djangonetwork:
    driver: bridge

secrets:
  origin_crt:
    file: ./certs/origin.crt
  origin_key:
    file: ./certs/origin.key
