<h3>
  Просмотры
  <i class="fas fa-info-circle hint" data-tippy-content="График отображается с учетом фильтра"></i>
</h3>
<div class="text-center text-secondary mb-2">{{ start }} - {{ end }}</div>
<div>
  <canvas id="pageviewsChart"></canvas>
</div>

<div class="mt-5 px-lg-4" style="margin-bottom:200px">
  <table class="table" class="mb-5">
    <thead>
      <tr>
        <th>{{ scale_name }}</th>
        <th>Просмотров</th>
      </tr>
    </thead>
    <tbody>
      {% for tick in table_data %}
        <tr>
          <td>{{ tick.0 }}</td>
          <td class="delim">{{ tick.1 }}</td>
        </tr>
      {% endfor %}
      <tr>
        <th>Всего</th>
        <th class="delim">{{ pageview_stats.total }}</th>
      </tr>
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript">

var ctx = document.getElementById('pageviewsChart').getContext('2d');
var scale = {{ scale }};
var chart = new Chart(ctx, {
    type: 'line',

    data: {
        labels: {{ chart_data_labels }},
        datasets: [{
          label: 'Просмотры',
          backgroundColor: 'rgb(212, 234, 250)',
          borderColor: 'rgb(117, 184, 235)',
          data: {{ chart_data }}
        }],
    },

    options: {
      responsive: true,
      maintainAspectRatio: true,
      // aspectRatio: 3,
      scales: {
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: ['Часы', 'Дни', 'Месяцы'][scale],
          },
          ticks: {
            callback: function(value, index, values) {
              let d = new Date(value * 1000);
              let t = [d.getHours(), d.getDate(), d.toLocaleString('default', { month: 'long' })][scale]
              return t;
            }
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Просмотры'
          },
          ticks: {
            beginAtZero: true,
          }
        }],
      },
      legend: {
        display: false,
      },
    },
});
</script>
