<div id="url-stats" class="row">
  <div class="col-lg-12">
    <h3>
      HTTP Referer
      <i class="fas fa-info-circle hint" data-tippy-content="Список Referers отображается с учетом фильтра"></i>
    </h3>
    <table class="table">
      <thead>
        <tr>
          <th>Referer</th>
          <th>Просмотров</th>
        </tr>
      </thead>
      <tbody>
        {% for referer_stat in referer_stats %}
          <tr>
            <td>{{ referer_stat.referer }}</td>
            <td class="delim">{{ referer_stat.total }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#url-stats tbody td a").click(function() {
      $("#filter #{{ form.url.id_for_label }}").val($(this).text());
      $("#filter form").submit();
    });
  });
</script>
