{% extends "account/layouts/base_form_page.html" %}

{% load i18n %}
{% load account %}

{% block title %}
  {% trans "Password Reset" %}
{% endblock %}

{% block account_form_block %}

  {% if user.is_authenticated %}
    {% include "/snippets/already_logged_in.html" %}
  {% endif %}

  <div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
      <div class="p-5">
        <div class="text-center">
          <h1
            class="h4 text-gray-900 mb-4">
            {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
          </h1>
        </div>

        <form class="user login" method="POST" action="{% url 'account_reset_password' %}">
          {% csrf_token %}
          <div class="form-group">
            <input type="email" name="email" class="form-control form-control-user" required placeholder="Введите email адрес">
          </div>
          <button type="submit" class="btn btn-primary btn-user btn-block">
            {% trans 'Reset My Password' %}
          </button>

        </form>
      </div>

    </div>
  </div>
{% endblock %}
