{% extends "account/layouts/base_form_page.html" %}

{% load i18n %}
{% block title %}
  Подтвердите ваш e-mail
{% endblock %}

{% block account_form_block %}
  <div class="row">
    <div class="col-lg-12 pt-3">
      <div class="p-5">
        <h1>Подтвердите ваш e-mail</h1>
        <p>
          Мы отправили вам электронное письмо для проверки. Перейдите по ссылке, чтобы завершить процесс регистрации.
          Пожалуйста, свяжитесь с нами, если вы не получили его в течение нескольких минут.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
