# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be commited to the VCS, but must not contain
# any secret values.


# === General ===

DOMAIN_NAME=localhost

# === Email ===

# === Django ===
DJANGO_SECRET_KEY=

# === Database ===

# Used both by docker and django:
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Used only by django:
DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=5432

DJANGO_ENV=development

EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=587
EMAIL_USE_TLS=
