{% extends 'core/landing/layout.html' %}
{% load  static %}
{% block content %}

  <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-12 wrap-about py-md-5 ftco-animate">
          <div class="heading-section mb-5 pl-md-5">
            <h2 class="mb-4">О нас</h2>
<p>С каждым годом в России ухудшается ситуация с правами граждан на свободу слова, передачи и получения информации, тайну частной жизни и безопасности персональных данных.</p>
<p>Тысячи россиян уже подвергнуты административному и уголовному преследованию за высказывания в интернете, а скоро их будут десятки тысяч. Независимые СМИ за публикации общественно важной информации получают санкции от Роскомнадзора, их вынуждают удалять тексты, они испытывают постоянный прессинг со стороны различных государственных органов. Владельцы и пользователи сайтов сталкиваются с блокировками и ограничением доступа, которые зачастую не имеют правовых оснований.</p>
<p>Две ведущие организации, занимающиеся защитой цифровых прав и свободы выражения, объединяют усилия, чтобы оказать оперативную и профессиональную помощь гражданам, организациям и общественным объединениям в случаях необоснованного преследования или давления.</p>
<p>Организация РосКомСвобода много лет ведет практику по защите как отдельных пользователей и владельцев незаконно заблокированных сайтов в суде, так и адвокатирует интересы всего общества в рамках общественных и юридических кампаний, направленных на изменение законодательства или защиту прав большого количества граждан.</p>
<p>Проект «Сетевые Свободы» объединяет правозащитников и специалистов в сфере информационных технологий, работающих по резонансным делам о защите цифровых прав и свобод в разных регионах России. Адвокаты проекта ведут свыше сотни дел, напрямую связанных с преследованием интернет-пользователей, блогеров и СМИ за выражение мнений.</p>

          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block user_scripts %}
  <script type="text/javascript">
      $('#about-link').addClass('active')
  </script>
{% endblock %}
