{% extends 'core/landing/layout.html' %} {% load static %} {% block content %}

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-12 wrap-about py-md-5 ftco-animate">
        <div class="heading-section mb-5 pl-md-5">
          <h2 class="mb-4">Об антифонде</h2>
          <p>
            Принуждают к поддержке «спецоперации» на работе? Угрожают
            увольнением или уже уволили за гражданскую позицию? Ваше
            производство закрыли, а вам не выплатили никаких компенсаций? Мы
            создали Фонд, в котором вы сможете получить бесплатную юридическую и
            консультационную помощь.
          </p>
          ​
          <p>
            Уже больше месяца российское государство проводит «специальную
            военную операцию» на территории Украины. Российская экономика
            рушится, тысячи людей становятся безработными, а власти не только
            хотят заглушить голоса тысяч недовольных, но и стремятся создать
            иллюзию массовой поддержки происходящего. Для этого они давят там,
            где люди наиболее зависимы — на рабочем месте, надеясь, что они не
            смогут за себя постоять и что им никто не поможет.
          </p>
          <p>
            Посты о проблемах, закрытые и открытые, мы каждый день читаем в
            российских соцсетях. Уволенные учителя, работники культуры,
            продавцы, сотрудники транспортных служб. Такие увольнения незаконны,
            но пострадавшие часто либо не знают об этом, либо слишком устали и
            запуганы, чтобы этому противостоять.
          </p>
          <p>
            Есть много позитивных кейсов, когда работодатель был вынужден
            восстановить человека на работе или выплатить компенсацию. Даже если
            вы не хотите оставаться на этом месте работы после произошедшего, вы
            можете уйти, отсудив компенсацию и показав работодателю и другим
            сотрудникам, что так обращаться с людьми безнаказанно уже не
            получится.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block user_scripts %}
<script type="text/javascript">
  $("#about-link").addClass("active");
</script>
{% endblock %}
