{% extends 'core/landing/layout.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'core/landing/css/map.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="loader">
  <div class="loading-animation"></div>
</div>

<section class="services-section pb-8 bg-primary-3 text-light">
  <div class="container">

    <div id="map" class="bg-primary-3 text-light">
      <div class="row justify-content-center mb-5">
        <div class="col-md-12 heading-section text-center">
          <h2>Карта кампании</h2>
          <h4>{{ campaign.name }}</h4>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12 col-md-6">
          <div style="display: flex; justify-content: center;">
            <ul class="legend">
              <li><span class="low"></span> 1-5</li>
              <li><span class="medium"></span> 6-10</li>
              <li><span class="high"></span> 11-29</li>
              <li><span class="disturbing"></span> 30+</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col"  style="min-height: 320px;">
          <div id="russia" class="map-russia" style="width: 1200px; height: 720px; position: relative; overflow: hidden;">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %}

{% block user_scripts %}

<script src="{% static 'core/landing/js/jquery.vmap.js' %}"></script>
<script src="{% static 'core/landing/js/jquery.vmap.russia.js' %}"></script>
<script src="{% static 'core/landing/js/PieChartLib.js' %}"></script>
<script src="{% static 'core/landing/js/campaign_map_scripts.js' %}"></script>
<script type="text/javascript">


</script>

{% endblock %}
