{% extends 'core/landing/layout.html' %}
{% load  static %}
{% block content %}


  <section class="hero-wrap hero-wrap-2 js-fullheight"
           style="background-image: url({% static 'core/landing/images/background.jpeg' %});"
           data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5">
          <h1 class="mb-3 bread text-light">Сообщение отправлено!</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-12 wrap-about py-md-5 ftco-animate">
          <div class="heading-section mb-5 pl-md-5">
            <p style="font-size: 20px">
              Уважаемый пользователь, Ваше сообщение было успешно отправлено администрации сайта. Мы рассмотрим его в
              ближайшие сроки. Надеемся, там не спам, и если оно по существу и требует от нас реакции в сфере нашей
              компетенции, то мы направим Вам ответ.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
