{% extends 'core/landing/layout.html' %}
{% load  static %}
{% block content %}

  <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-12 wrap-about py-md-5 ftco-animate">
          <div class="heading-section mb-5 pl-md-5">
            {% if incident.campaign.document.instruction %}
              <hr>
              <div>
                <p class="mt-5"><a class="btn btn-primary" href="/document/{{ incident.uuid }}/" target="_blank">Скачать документ</a></p>
                <p>
                  <h3 class="text-primary mb-4">Спасибо!</h3>
                  {{ incident.campaign.document.instruction|safe }}
                </p>
              </div>
            {% elif incident.campaign.use_custom_thanks %}
              <h3 class="text-primary mb-4">{{ incident.campaign.thanks_header }}</h3>
              <p style="font-size: 20px">
                {{ incident.campaign.thanks_text|safe }}
              </p>
            {% else %}
              <h3 class="text-primary mb-4">Заявка принята!</h3>
              <p style="font-size: 20px">
                Уважаемый пользователь, ваше заявка принята.
                Мы рассматриваем Вашу заявку, чтобы подобрать наиболее подходящих по Вашему запросу юристов. Время рассмотрения зависит от полноты изложенных Вами сведений о проблеме, её уникальности и специфичности.
                В большинстве случаев это займет не более 3-4 часов. Пожалуйста, ожидайте обратной связи.
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
