{% extends 'core/landing/layout.html' %}

{% load static %}

{% block content %}

<div class="loader">
  <div class="loading-animation"></div>
</div>

<section class="bg-primary-3 has-divider text-light o-hidden">
  <div class="container layer-2">
    <div class="row justify-content-center pt-lg-5">
      <div class="col-xl-5 col-lg-6 col-md-7 text-center text-lg-left mb-5 mb-lg-0">
        <h1 class="display-4">Помощь при <span>преследованиях в сети</span></h1>
        <div class="my-4">
          <p class="lead">
          Юристы Сетевых Свобод и РосКомСвободы готовы помочь в защите ваших прав.</p>
        </div>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-md-10">
            <form action="{% url 'core:public-incident-create' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label class="required" for="course-email-1">Email</label>
                {{ form.applicant_email }}
              </div>
              <div class="form-group">
                <label for="course-email-1">Аккаунт в мессенджере</label>
                {{ form.applicant_messenger }}
              </div>
              <div class="form-group">
                <label class="required" for="course-email-1">Описание</label>
                {{ form.description }}
              </div>
              <div class="form-group">
                <label class="required" for="course-email-1">А вы робот?</label>
                {{ form.robot }}
              </div>
              <div class="form-group text-center">
                <button class="btn btn-primary btn-block mb-2">Отправить сообщение</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="decoration-wrapper d-none d-sm-block">
    <div data-jarallax-element="0 50">
      <div class="decoration top middle-y scale-5">
        <img class="bg-primary-2" src="static/core/landing/bootstrap/img/decorations/deco-blob-9.svg" alt="deco-blob-9 decoration" data-inject-svg />
      </div>
    </div>
  </div>
  <div class="divider">
    <img class="bg-primary-alt" src="static/core/landing/bootstrap/img/dividers/divider-2.svg" alt="divider graphic" data-inject-svg />
  </div>
</section>


<section class="bg-primary-alt pb-1 pb-md-5">
  <div class="container">
    <div class="row justify-content-between o-hidden">
      <div class="col-md-6">
        <h2 class="h2">На страже ваших цифровых прав</h2>
        <p class="lead">Наши юристы имеют большой опыт в защите прав человека и готовы помочь тем, кто подвергается незаконному преследованию.</p>
        <ul class="d-flex flex-wrap list-unstyled mt-5">
          <li class="mr-4 mb-5" data-aos="fade-up" data-aos-delay="200">
            <a href="https://t.me/NetFreedomsProject">
              <img class="icon icon-logo icon-md" src="static/core/landing/images/netfreedom.png" alt="netfreedom icon" />
            </a>
          </li>
          <li class="mr-4 mb-5" data-aos="fade-up" data-aos-delay="100">
            <a href="https://t.me/roskomsvoboda">
              <img class="icon icon-logo icon-md" src="static/core/landing/images/rks.png" alt="roskomsvoboda icon"/>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 pr-md-5" data-aos="fade-left">
        <div data-flickity='{ "autoPlay": true, "imagesLoaded": true, "wrapAround": true }'>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2020</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Свобода интернета 2020: вторая волна репрессий</h5>
                <span style="line-height:1em;">Настоящий доклад посвящен обзору вмешательства в свободу интернета в России в 2020 году. Он основан на данных постоянного мониторинга ситуации, который мы впервые доверили искусственному интеллекту, в автоматическом режиме отслеживающему появление в открытых источниках сообщений об ограничении свободы интернета.</span>
              </div>
              <a class="text-right text-small" href="/static/core/doc/Свобода интернета 2020. Вторая волна репрессий.pdf"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2020</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Эпидемия фейков: борьба с коронавирусом как угроза свободе слова</h5>
                <span style="line-height:1em;">Уголовная статья о фейках стала удобным инструментом расправы над публичными критиками властей — 17 из 42 случаев уголовного преследования связаны с высказываниями активистов, журналистов, блогеров и политиков...</span>
              </div>
              <a class="text-right text-small" href="/static/core/doc/Эпидемия фейков. Борьба с коронавирусом как угроза свободе слова. 2020. Агора.pdf"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2020</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Исследование: Ограничение цифровых прав и гражданских свобод в эпоху пандемии</h5>
                <span style="line-height:1em;">Анализ принимаемых законов и правоприменительных практик 12 стран на фоне борьбы с коронавирусом позволяет сделать вывод, что действия многих правительств привели к существенному ограничению прав граждан на прайваси и свободу информации...</span>
              </div>
              <a class="text-right text-small" href="https://roskomsvoboda.org/61319/"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2020</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Год «явного неуважения» к президенту‎</h5>
                <span style="line-height:1em;">Настоящее исследование посвящено обзору первого года практики применения так называемого «закона о неуважении к власти», ограничивающего критику государственных органов и символов.</span>
              </div>
              <a class="text-right text-small" href="/static/core/doc/Год «явного неуважения» к президенту_. 2020. Агора.pdf"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2020</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Свобода интернета 2019: план «Крепость»</h5>
                <span style="line-height:1em;">Власти после ряда колебаний несколько лет назад определились с основным вектором политики в отношении российского сегмента интернета — контроль, цензура и изоляция...</span>
              </div>
              <a class="text-right text-small" href="https://roskomsvoboda.org/55136/"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2020</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Отчет: Мониторинг преследования граждан за онлайн-публикации 2015-2019</h5>
                <span style="line-height:1em;">Отчет включает в себя общие статистические показатели по преступлениям экстремистской направленности,  а также иным преступлениям, ответственность за которые предусмотрена формальными составами УК РФ с квалифицирующим признаком в форме распространения в интернете...</span>
              </div>
              <a class="text-right text-small" href="https://docs.google.com/document/d/17-2Z3_51FF1nmKMrH3cBPXCuPSHC05Lk"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2020</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Лучшие мировые практики защиты цифровых прав</h5>
                <span style="line-height:1em;">Мы заглянули в международные документы и национальные законы разных стран, чтобы найти там самые удачные примеры защиты цифровых прав, которые смогут стать толчком для перезапуска интернет-регулирования в России и пересмотра законов и практик для улучшения ситуации с правами человека онлайн...</span>
              </div>
              <a class="text-right text-small" href="https://roskomsvoboda.org/60443/"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2020</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Пандемия слежки</h5>
                <span style="line-height:1em;">Пандемия коронавируса оправдала резкое углубление и расширение слежки за гражданами. Введение карантина послужило катализатором развития всех видов слежения, однако, прежде всего, — цифровых технологий...</span>
              </div>
              <a class="text-right text-small" href="https://spy.runet.report/"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2019</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Свобода интернета 2018: делегирование репрессий</h5>
                <span style="line-height:1em;">Российские власти надеются контролировать интернет, вынудив к сотрудничеству крупные сервисы и монополизируя рынок доступа в интернет...</span>
              </div>
              <a class="text-right text-small" href="/static/core/doc/Свобода интернета 2018. Делегирование репрессий. Агора.pdf"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2018</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Россия под наблюдением 2017: как власти выстраивают систему тотального контроля над гражданами</h5>
                <span style="line-height:1em;">Обычный законопослушный житель России сегодня подвергается постоянному риску произвольного доступа к информации о его частной жизни и персональным данным...</span>
              </div>
              <a class="text-right text-small" href="/static/core/doc/РОССИЯ ПОД НАБЛЮДЕНИЕМ 2017_РУС.pdf"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h4 class="text-center">2018</h4>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Россия против Истории</h5>
                <span style="line-height:1em;">Настоящий доклад представляет собой обзор случаев вмешательства государства в свободу выражения в связи с интерпретацией и оценкой исторических событий, а также ограничением доступа к архивам исторических документов.</span>
              </div>
              <a class="text-right text-small" href="https://guides.files.bbci.co.uk/bbc-russian/Russia_vs_History.pdf" target="_blank"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2018</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Свобода интернета 2017: ползучая криминализация</h5>
                <span style="line-height:1em;">В среднем каждый день 2017 года в рунете блокировались 244 страницы, каждые 6 дней пользователи подвергались нападению или угрозам, а каждые 8 – звучал приговор с реальным лишением свободы...</span>
              </div>
              <a class="text-right text-small" href="/static/core/doc/Agora_Internet_Freedom_2017_RU.pdf"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h4 class="text-center">2018</h4>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Неофобия российской власти</h5>
                <span style="line-height:1em;">Этот страх российской власти проявляется не только, когда дело касается технологических новинок в узком смысле, но в самых различных сферах жизни, в которых российское  государство сопротивляется внедрению позитивных практик.</span>
              </div>
              <a class="text-right text-small" href="/static/core/doc/AGORA. Neophobia ot the Russian State.pdf" target="_blank"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h4 class="text-center">2017</h4>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Сотня российских разоблачителей</h5>
                <span style="line-height:1em;">Тема защиты лиц, публично раскрывающих информацию о нарушениях, становится все более актуальной не только для России, где разоблачители регулярно подвергаются давлению, в арсенал которого входят убийства, насилие, уголовное преследование и меры дисциплинарного воздействия, но и для остального мира...</span>
              </div>
              <a class="text-right text-small" href="/static/core/doc/Сотня_российских_разоблачителей_Доклад_Агоры.pdf" target="_blank"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2016</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Свобода интернета 2016: на военном положении</h5>
                <span style="line-height:1em;">Внутри страны жители постепенно оказались в тылу воюющего в киберпространстве государства, в котором действует фактически военное положение с сильной цензурой и жесткой реакцией на любое несогласие...</span>
              </div>
              <a class="text-right text-small" href="/static/core/doc/Agora_Report_2016_Internet.pdf"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2016</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Россия под наблюдением</h5>
                <span style="line-height:1em;">За последние 9 лет не менее 9 млн человек (примерно 6% жителей) в России могли подвергаться прослушиванию только на основании судебного решения...</span>
              </div>
              <a class="text-right text-small" href="https://www.agora.legal/articles/Doklad-Mezhdunarodnoi-Agory-%C2%ABRossiya-pod-nablyudeniem%C2%BB/2"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2016</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Свобода слова как жертва. Цензура вследствие конфликта России и Украины</h5>
                <span style="line-height:1em;">Неоправданные и непропорциональные, а зачастую попросту незаконные ограничения свободы выражения, мирных собраний и объединений, а также свободы мысли, совести и религии, разрушают демократию, вредят международному имиджу как России, так и Украины...</span>
              </div>
              <a class="text-right text-small" href="https://www.agora.legal/articles/Doklad-Mezhdunarodnoi-Agory-%C2%ABSvoboda-slova-kak-zhertva-Cenzura-vsledstvie/8"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h5 class="text-center">2015</h5>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Свобода интернета 2015: торжество цензуры</h5>
                <span style="line-height:1em;">В самом ближайшем будущем гражданам, возможно, придется столкнуться с ограничением доступа к зарубежным сервисам и ужесточением практики уголовного преследования за выражение своего мнения онлайн...</span>
              </div>
              <a class="text-right text-small" href="/static/core/doc/Свобода интернета 2015. Торжество цензуры. Агора.pdf"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h4 class="text-center">2014</h4>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Свобода интернета 2014: Власти не оставляют интернету выбора</h5>
                <span style="line-height:1em;">Настоящий доклад посвящен обзору ограничений свободы интернета в России, полученных в результате постоянного мониторинга ситуации, проводившегося на протяжении 2014 года.</span>
              </div>
              <a class="text-right text-small" href="/static/core/doc/Свобода интернета 2014 (АПИ).doc" target="_blank"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h4 class="text-center">2013</h4>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Свобода интернета 2013: Атака охранителей</h5>
                <span style="line-height:1em;">Настоящий доклад посвящен обзору нарушений прав российских пользователей интернета в 2013 году.</span>
              </div>
              <a class="text-right text-small" href="/static/core/doc/Свобода интернета 2013.pdf" target="_blank"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h4 class="text-center">2012</h4>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Свобода интернета 2012</h5>
                <span style="line-height:1em;">В настоящем докладе рассматриваются проблемы ограничения свободы Интернета, с которыми российские пользователи столкнулись в 2012 году.</span>
              </div>
              <a class="text-right text-small" href="/static/core/doc/Свобода интернета 2012.doc" target="_blank"><u>Перейти</u></a>
            </div>
          </div>

          <div class="carousel-cell pb-1 mr-4">
            <div class="card card-body">
              <div class="text-center">
                <div class="text-center">
                  <h4 class="text-center">2011</h4>
                </div>
              </div>
              <div class="flex-grow-1">
                <h5>Доклад: Несвобода Интернета (2008-2011)</h5>
                <span style="line-height:1em;">Появление и распространение новых форм выражения мнения вызвало и усиление соответствующего давления на активистов.</span>
              </div>
              <a class="text-right text-small" href="https://agora.legal/fs/a_delo2doc/105_file_openinform_313.pdf" target="_blank"><u>Перейти</u></a>
            </div>
          </div>
        </div>
        <small class="d-block text-center"><a href="/reports/">Смотреть все</a></small>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary-3 text-light">
  <div class="container">
    <div class="row text-light mb-4 row justify-content-center text-center">
      <div class="col">
        <h3 class="display-4">Направления работы</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6 col-lg-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="100">
        <i class="fas fa-comment-slash" style="font-size:24px;line-height:1.5em;"></i>
        <div class="ml-3">
          <h5>Экстремизм, терроризм, хэйт‑спич</h5>
          <div>
            Привлечение к ответственности пользователей и активистов за посты в социальных сетях и мессенджерах становится актуальной проблемой современного информационного общества
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="200">
        <i class="far fa-thumbs-down" style="font-size:24px;line-height:1.5em;"></i>
        <div class="ml-3">
          <h5>Fake news и неуважение власти</h5>
          <div>
            Новые статья в КоАП РФ и УК РФ, связанные с наказанием пользователей за распространение в сети недостоверной информации либо оскорбление институтов власти часто становится причиной возбуждения административных и уголовных дел.
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="300">
        <i class="fas fa-lock" style="font-size:24px;line-height:1.5em;"></i>
        <div class="ml-3">
          <h5>Блокировка веб-сайтов и приложений</h5>
          <div>
            Законы, принятые с 2012 года, позволяют десятку органов власти и судам блокировать сайты и мобильные приложения по более чем 15 основаниям.
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="300">
        <img class="icon icon-md" src="/static/core/landing/bootstrap/img/icons/theme/general/binocular.svg" alt="icon" data-inject-svg style="width:36px" />
        <div class="ml-3">
          <h5>Слежка и шатдауны</h5>
          <div>
            В последние годы в России используют все больше технологий для слежки за гражданами: начиная от камер распознавания лиц, заканчивая сбором и обработкой геолокационных данных мобильных устройств. Безопасность собираемых данных не гарантирована. Кроме того, в последние годы отмечается развитие практики локальных шатдаунов — отключения мобильной связи на определенной территории — как правило, в связи с массовыми протестными акциями.
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="400">
        <i class="far fa-newspaper" style="font-size:24px;line-height:1.5em;"></i>
        <div class="ml-3">
          <h5>Защита СМИ и НКО</h5>
          <div>
            Некоммерческие и правозащитные организации, а также медиа-порталы (в том числе и СМИ), которые освещают актуальные новости и распространяют информацию о социальных, правовых и политических событиях в стране, часто становятся объектами преследования.
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="500">
        <i class="fas fa-user-shield" style="font-size:24px;line-height:1.5em;"></i>
        <div class="ml-3">
          <h5>Приватность и защита персональных данных</h5>
          <div>
            Персональные данные часто становятся объектом охоты как со стороны мошенников, так и недобросовестных сотрудников правоохранительных органов. Слив данных, неавторизованный доступ, незаконная слежка, нарушение тайны частной жизни с применением технологических решений приводят к существенным нарушением прав человека.
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


{% if posts %}
<section>
  <div class="container">
    <div class="row mb-4">
    {% for post in posts %}

      {% if post.has_title_only %}

        <div class="col-md-6 col-lg-4 d-flex infinite-item">
          <a href="{% url 'core:post' pk=post.pk %}"
             class="card card-body justify-content-between text-light"
             style="background-color: {{ post.color }}">
            <div class="d-flex justify-content-between mb-3">
              <div class="text-small d-flex">
                <span class="opacity-70">
                  {{ post.create_date | date }}
                </span>
              </div>
            </div>
            <div>
              <h2>{{ post.title }}</h2>
            </div>
          </a>
        </div>

      {% elif post.has_title_and_bg_image %}

        <div class="col-md-6 col-lg-4 d-flex infinite-item">
          <div class="card card-body justify-content-between bg-primary-3 text-light">
            <a href="{% url 'core:post' pk=post.pk %}">
              {% if post.image %}
                <img src="{{ post.image.url }}" alt="Image" class="bg-image opacity-20">
              {% endif %}
              <div class="d-flex justify-content-between mb-3 position-relative">
                <div class="text-small d-flex">
                  <span class="opacity-70">{{ post.create_date | date }}</span>
                </div>
              </div>
              <div class="d-flex position-relative">
                <div class="ml-3">
                  <a href="{% url 'core:post' pk=post.pk %}">
                    <h4 class="mb-1">
                      {{ post.title }}
                    </h4>
                  </a>
                </div>
              </div>
            </a>
          </div>
        </div>

      {% else %}

        <div class="col-md-6 col-lg-4 d-flex infinite-item">
          <div class="card">
            {% if post.image %}
              <a href="{% url 'core:post' pk=post.pk %}">
                <img src="{{ post.image.url }}" alt="Image" class="card-img-top">
              </a>
            {% endif %}
            <div class="card-body d-flex flex-column">
              <div class="d-flex justify-content-between mb-3">
                <div class="text-small d-flex">
                  <span class="text-muted">{{ post.create_date | date }}</span>
                </div>
              </div>
              <a href="{% url 'core:post' pk=post.pk %}">
                <h4>{{ post.title }}</h4>
              </a>
              <p class="flex-grow-1">
                {{ post.card_text }}
              </p>
            </div>
          </div>
        </div>

      {% endif %}

    {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% endblock %}

{% block user_scripts %}
  <script type="text/javascript">
      $('#home-link').addClass('active')
  </script>
{% endblock %}
