{% extends 'core/landing/layout.html' %}
{% load  static %}

{% block title %}
Runet.Report - Политика конфиденциальности
{% endblock title %}

{% block content %}

  <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-12 wrap-about py-md-5 ftco-animate">
          <div class="heading-section mb-5 pl-md-5">
            <h1 class="mb-4">Политика конфиденциальности</h1>
<p>Настоящая Политика разработана в соответствии с Конституцией РФ, Федеральным законом РФ от 27.07.2006 № 152-ФЗ «О персональных данных», Федеральным законом от 27.07.2006 № 149-ФЗ «Об информации, информационных технологиях и о защите информации», Постановлением Правительства Российской Федерации от 15.09. 2008 №687 «Об утверждении Положения об особенностях обработки персональных данных, осуществляемой без использования средств автоматизации», Постановлением Правительства Российской Федерации от 21.03.2012 № 211 «Об утверждении перечня мер, направленных на обеспечение выполнения обязанностей, предусмотренных Федеральным законом «О персональных данных», Постановлением Правительства РФ от 01.11.2012 № 1119 «Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных» иными нормативными актами, действующими на территории Российской Федерации.
</p>
<h5>1. Общие положения</h5>
<ul class="privacy-sublist">
  <li>
    1.1. Настоящая Политика определяет порядок обработки и защиты информации о физических лицах (далее – “Пользователи”), пользующихся услугами интернет-сайта www.runet.report (далее – “Сайт”).
  </li>
  <li>
    1.2. Целью настоящей Политики является обеспечение надлежащей защиты информации о Пользователях, в том числе их персональных данных, от несанкционированного доступа и разглашения.
  </li>
  <li>
    1.3. Отношения, связанные со сбором, хранением, распространением и защитой информации о Пользователях, регулируются настоящей Политикой, Пользовательским соглашением, иными официальными документами Компании и действующим законодательством Российской Федерации.
  </li>
  <li>
    1.4. Действующая редакция Политики, являющейся публичным документом, доступна любому пользователю сети Интернет. Компания вправе вносить изменения в настоящую Политику. При внесении изменений в Политику Компания уведомляет об этом Пользователей путем размещения новой редакции Политики на Сайте.
  </li>
  <li>
    1.5. Используя Сайт, Пользователь выражает свое согласие с условиями настоящей Политики и обработкой персональных данных в порядке, установленном настоящей Политикой.
  </li>
  <li>
    1.6. В случае несогласия Пользователя с условиями настоящей Политики использование Сайта и его сервисов должно быть немедленно прекращено.
  </li>
</ul>

<h5>2. Условия использования Сайта</h5>
<ul class="privacy-sublist">
  <li>
    2.1 Осуществляя использование Сайта и его функциональности (далее – “Услуги Сайта”), Пользователь заявляет и гарантирует, что:
    <ul>
      <li>
        обладает всеми необходимыми правами, позволяющими ему использовать Сайт, в том числе путем передачи Компании материалов через Сайт;
      </li>
      <li>
        указывает достоверную информацию о себе в объемах, необходимых для пользования Услугами Сайта;
      </li>
      <li>
        ознакомлен с настоящей Политикой и выражает свое согласие с ней.
      </li>
    </ul>
  </li>
  <li>
    2.2. Компания вправе проверять достоверность получаемой (собираемой) информации от Пользователей, в том числе в случаях, когда такая проверка необходима в целях исполнения Компанией обязательств перед Пользователями.
  </li>
  <li>
    2.3. Пользователь не вправе передавать Компании материалы, содержащие персональные данные третьих лиц, без законных оснований, а также материалы, содержащие специальные или биометрические персональные данные.
  </li>
</ul>

<h5>3. Цели обработки информации</h5>
<ul class="privacy-sublist">
  <li>
    3.1. Компания осуществляет обработку персональных данных Пользователей в целях передачи обращений Пользователей партнерам Компании для дальнейшего взаимодействия между партнером и Пользователем, а также для формирования статистики обращений. Данные Пользователей, не являющиеся персональными, используются в целях анализа работоспособности и посещаемости Сайта.
  </li>
</ul>

<h5>4. Состав информации о Пользователях</h5>
<ul class="privacy-sublist">
  <li>
    4.1. Персональные данные Пользователей включают в себя:
    <ul>
      <li>
        предоставляемые Пользователями данные в форме отправки сообщения на Сайте;
      </li>
      <li>
        данные о дате отправки сообщения;
      </li>
      <li>
        автоматически собираемые данные об устройствах Пользователя, используемых для доступа к Сайту, необходимые для поддержания работоспособности Сайта, анализа посещаемости Сайта, использования Услуг Сайта;
      </li>
      <li>
        данные о технологическом взаимодействии с Сайтом, операционной системе устройства Пользователя, IP-адресе устройства Пользователя, браузере устройства Пользователя, географическом местоположении устройства Пользователя, провайдере доступа к сети Интернет и истории взаимодействия с Сайтом.
      </li>
    </ul>
  </li>
</ul>

<h5>5. Обработка информации о Пользователях</h5>
<ul class="privacy-sublist">
  <li>
    5.1. Обработка персональных данных осуществляется на основе принципов:
    <ul>
      <li>
        законности целей и способов обработки персональных данных;
      </li>
      <li>
        добросовестности;
      </li>
      <li>
        соответствия целей обработки персональных данных целям, заранее определенным и заявленным при сборе персональных данных;
      </li>
      </li>
      <li>
        соответствия объема и характера обрабатываемых персональных данных, способов обработки персональных данных целям обработки персональных данных;
      </li>
      <li>
        недопустимости объединения созданных для несовместимых между собой целей баз данных, содержащих персональные данные.
      </li>
    </ul>
  </li>
  <li>
    5.2. При обработке персональных данных Компания осуществляет следующие действия: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача третьим лицам (предоставление доступа), распространение, блокирование, удаление и уничтожение
  </li>
</ul>

<h5>6. Хранение персональных данных</h5>
<ul class="privacy-sublist">
  <li>
    6.1. Персональные данные пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.
  </li>
  <li>
    6.2. При сборе персональных данных Пользователей Компания осуществляет их хранение на территории Российской Федерации.
  </li>
</ul>

<h5>7. Передача персональных данных</h5>
<ul class="privacy-sublist">
  <li>
    7.1. Персональные данные Пользователей могут передаваться партнерам Компании для реализации целей обработки, обозначенных в настоящей Политике, при условии принятия такими партнерами обязательств по обеспечению конфиденциальности полученной информации.
  </li>
  <li>
    7.2. Предоставление персональных данных Пользователей по запросу государственных органов осуществляется в порядке, предусмотренном действующим законодательством Российской Федерации.
  </li>
</ul>

<h5>8. Уничтожение персональных данных</h5>
<ul class="privacy-sublist">
  <li>
    8.1. Персональные данные Пользователя уничтожаются при:
    <ul>
      <li>
        самостоятельном удалении Пользователем при наличии такой возможности;
      </li>
      <li>
        удалении Компанией по достижению целей обработки.
      </li>
    </ul>
  </li>
</ul>

<h5>9. Права Пользователей</h5>
<ul class="privacy-sublist">
  <li>
    9.1. Пользователи имеют право на получение информации, касающейся обработки их персональных данных, в том числе содержащей:
    <ul>
      <li>
        подтверждение факта обработки персональных данных Компанией;
      </li>
      <li>
        правовые основания и цели обработки персональных данных;
      </li>
      <li>
        цели и применяемые Компанией способы обработки персональных данных;
      </li>
      <li>
        наименование и место нахождения Компании, сведения о лицах (за исключением работников Компании),
      </li>
      <li>
        которые имеют доступ к персональным данным или которым могут быть раскрыты персональные данные на основании договора с Компанией или на основании закона;
      </li>
      <li>
        обрабатываемые персональные данные, относящиеся к соответствующему Пользователю, источник их получения, если иной порядок представления таких данных не предусмотрен федеральным законом;
      </li>
      <li>
        сроки обработки персональных данных, в том числе сроки их хранения;
      </li>
      <li>
        порядок осуществления Пользователем прав, предусмотренных Федеральным законом “О персональных данных”;
      </li>
      <li>
        информацию об осуществленной или о предполагаемой трансграничной передаче данных;
      </li>
      <li>
        наименование или фамилию, имя, отчество и адрес лица, осуществляющего обработку персональных данных по поручению Компании, если обработка поручена или будет поручена такому лицу;
      </li>
      <li>
        иные сведения, предусмотренные настоящим Федеральным законом “О персональных данных” или другими федеральными законами.
      </li>
    </ul>
  </li>
  <li>
    9.2. Пользователь вправе требовать от Компании уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.
  </li>
  <li>
    9.3. Пользователь вправе отозвать свое согласие на обработку персональных данных путем обращения к Компании.
  </li>
</ul>

<h5>10. Меры по защите информации о Пользователях</h5>
<ul class="privacy-sublist">
  <li>
    10.1. Компания применяет следующие технические и организационно-правовые меры в целях обеспечения защиты персональных данных Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий:
    <ul>
      <li>
        Идентификация и аутентификация пользователей, являющихся работниками Компании;
      </li>
      <li>
        Управление идентификаторами, в том числе создание, присвоение, уничтожение идентификаторов;
      </li>
      <li>
        Управление средствами аутентификации, в том числе хранение, выдача, инициализация, блокирование средств аутентификации и принятие мер в случае утраты и (или) компрометации средств аутентификации;
      </li>
      <li>
        Защита обратной связи при вводе аутентификационной информации;
      </li>
      <li>
        Идентификация и аутентификация внешних пользователей;
      </li>
      <li>
        Управление (заведение, активация, блокирование и уничтожение) учетными записями пользователей, в том числе внешних пользователей;
      </li>
      <li>
        Реализация методов, типов и правил разграничения доступа;
      </li>
      <li>
        Управление (фильтрация, маршрутизация, контроль соединений, однонаправленная передача и иные способы управления) информационными потоками между устройствами, сегментами ИСПДн, а также между ИСПДн;
      </li>
      <li>
        Разделение полномочий (ролей) пользователей, администраторов и лиц, обеспечивающих функционирование ИСПДн;
      </li>
      <li>
        Назначение минимально необходимых прав и привилегий пользователям, администраторам и лицам, обеспечивающим функционирование ИСПДн;
      </li>
      <li>
        Ограничение неуспешных попыток входа в ИСПДн (доступа к ИСПДн);
      </li>
      <li>
        Реализация защищенного удаленного доступа субъектов доступа к объектам доступа через внешние информационно-телекоммуникационные сети;
      </li>
      <li>
        Регламентация и контроль использования в ИСПДн технологий беспроводного доступа;
      </li>
      <li>
        Регламентация и контроль использования в ИСПДн мобильных технических средств;
      </li>
      <li>
        Управление взаимодействием с ИСПДн сторонних организаций (внешние ИСПДн);
      </li>
      <li>
        Определение событий безопасности, подлежащих регистрации, и сроков их хранения;
      </li>
      <li>
        Определение состава и содержания информации о событиях безопасности, подлежащих регистрации;
      </li>
      <li>
        Сбор, запись и хранение информации о событиях безопасности в течение установленного времени хранения;
      </li>
      <li>
        Реализация антивирусной защиты;
      </li>
      <li>
        Обновление базы данных признаков вредоносных компьютерных программ (вирусов)
      </li>
      <li>
        Контроль установки обновлений программного обеспечения, включая обновление программного обеспечения средств защиты информации;
      </li>
      <li>
        Идентификация и аутентификация субъектов доступа и объектов доступа в виртуальной инфраструктуре, в том числе администраторов управления средствами виртуализации;
      </li>
      <li>
        Управление доступом субъектов доступа к объектам доступа в виртуальной инфраструктуре, в том числе внутри виртуальных машин;
      </li>
      <li>
        Контроль и управление физическим доступом к техническим средствам, средствам защиты информации, средствам обеспечения функционирования, а также в помещения и сооружения, в которых они установлены, исключающие несанкционированный физический доступ к средствам обработки информации, средствам защиты информации и средствам обеспечения функционирования ИСПДн, в помещения и сооружения, в которых они установлены;
      </li>
      <li>
        Размещение устройств вывода (отображения) информации, исключающее ее несанкционированный просмотр;
      </li>
      <li>
        Обеспечение защиты персональных данных от раскрытия, модификации и навязывания (ввода ложной информации) при ее передаче (подготовке к передаче) по каналам связи, имеющим выход за пределы контролируемой зоны, в том числе беспроводным каналам связи.
      </li>
    </ul>
  </li>
</ul>

<h5>11. Обращения Пользователей</h5>
<ul class="privacy-sublist">
  <li>
    11.1. Пользователи вправе направлять Компании свои запросы, в том числе запросы относительно использования их персональных данных.
  </li>
  <li>
    11.2. Запрос, направляемый пользователем, должен содержать следующую информацию:
    <ul>
      <li>
        номер основного документа, удостоверяющего личность пользователя или его представителя;
      </li>
      <li>
        сведения о дате выдачи указанного документа и выдавшем его органе;
      </li>
      <li>
        сведения, подтверждающие участие пользователя в отношениях с Компанией (номер телефона и адрес электронной почты, указанные в учетной записи Пользователя на Сайте);
      </li>
      <li>
        подпись Пользователя или его представителя.
      </li>
    </ul>
  </li>
  <li>
    11.3. Компания обязуется рассмотреть и направить ответ на поступивший запрос Пользователя в течение 30 дней с момента поступления обращения.
  </li>
</ul>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block user_scripts %}
{% endblock %}
