{% extends 'core/landing/layout.html' %}
{% load  static %}
{% block content %}

<section class="bg-primary-3 has-divider text-light o-hidden">
  <div class="container layer-2">
    <h2 class="h1">Исследования</h2>
    <div class="lead my-5">
      <p>РосКомСвобода и Международная Агора уже много лет следят за ситуацией с цифровыми правами. С 2008 года юристы
        Агоры начали свой мониторинг. Первый доклад о свободе интернета был опубликован в 2011 году — он охватывал
        период с 2008-го по 2011 год. В дальнейшем такие доклады стали ежегодными.</p>
      <p>РосКомСвобода с момента своего создания в 2012 году ведет постоянный мониторинг законодательной деятельности
        госорганов в области регулирования интернета, а также блокировок сайтов. РосКомСвобода проводила анализ
        преследования граждан за публикации в Сети в период 2015-2019 годов, исследовала лучшие мировые практики защиты
        цифровых свобод и подготовила доклад об ограничении прав в интернете в эпоху пандемии коронавируса.</p>
      <p>В этом разделе вы можете ознакомиться с ключевыми докладами.</p>
    </div>
  </div>
  <div class="decoration-wrapper d-none d-sm-block">
    <div data-jarallax-element="0 50">
      <div class="decoration top middle-y scale-5">
        <img class="bg-primary-2" src="/static/core/landing/bootstrap/img/decorations/deco-blob-9.svg"
             alt="deco-blob-9 decoration" data-inject-svg/>
      </div>
    </div>
  </div>
</section>

<section class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-xl-8">

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2021</h3>
        <h4 class="mb-2">Свобода интернета 2021: царство цензуры</h4>
        <span>
          Настоящий доклад посвящен обзору вмешательства в свободу интернета в России в 2021 году.
          Он основан на данных постоянного мониторинга ситуации, который ведется на протяжении 14 лет.
        </span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs mr-3" src="/static/core/landing/images/netfreedom.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="/static/core/doc/Свобода_интернета_2021.pdf"
               target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2021</h3>
        <h4 class="mb-2">Рейтинг соблюдения цифровых прав популярными веб-сервисами Рунета</h4>
        <span>
          Настоящее исследование направлено на оценку политик и практик 11-ти самых популярных веб-сервисов Рунета: 2 по
          раскрытию данных в рамках взаимоотношений с государственными органами; по соблюдению стандартов по защите цифровых
          прав человека; по принятию усилий для обеспечения прав пользователей на свободу информации и тайну частной жизни.
        </span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs mr-3" src="/static/core/landing/images/rks.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="/static/core/doc/digital_rating_2021.pdf"
               target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2021</h3>
        <h4 class="mb-2">Государственный шоппинг: что покупают, чтобы следить за нами</h4>
        <span>
          Доклад сделан по итогам 2-летнего мониторинга госзакупок, осуществлённого в рамках проекта zakupki.roskomsvoboda.org
          и отражает, какие технологии (оборудование и ПО) закупаются за бюджетный счёт для организации контроля
          за оборотом контента в сети и поведением пользователей.
        </span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs mr-3" src="/static/core/landing/images/rks.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="/static/core/doc/gosud_shoping.pdf"
               target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2021</h3>
        <h4 class="mb-2">Распознавание лиц: предчувствие антиутопии</h4>
        <span>Доклад посвящен исследованию проникновения технологии facial recognition в жизнь россиян.
          Мы описали ситуации, в которых обычный гражданин может столкнуться с распознаванием лиц, а также существующее
          нормативное регулирование этой сферы.
        </span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs mr-3" src="/static/core/landing/images/netfreedom.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="/static/core/doc/Facial_recognition.pdf"
               target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2020</h3>
        <h4 class="mb-2">Доклад: Свобода интернета 2020: вторая волна репрессий</h4>
        <span>Настоящий доклад посвящен обзору вмешательства в свободу интернета в России в 2020 году. Он основан на данных постоянного мониторинга ситуации, который мы впервые доверили искусственному интеллекту, в автоматическом режиме отслеживающему появление в открытых источниках сообщений об ограничении свободы интернета.</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs mr-3" src="/static/core/landing/images/netfreedom.png"/>
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/rks.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block"
               href="/static/core/doc/Свобода интернета 2020. Вторая волна репрессий.pdf" target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2020</h3>
        <h4 class="mb-2">Доклад: COVID-1984: отчёт о слежке во всём мире во время пандемии</h4>
        <span>В новом исследовании «РосКомСвободы» говорится о главных инструментах для слежки (запуск мобильных приложений, использование технологий распознавания лиц и геотаргетинг), которые внедрялись правительствами разных стран под предлогом сдерживания распространения пандемии коронавируса...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/rks.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="https://roskomsvoboda.org/67933/" target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2020</h3>
        <h4 class="mb-2">Доклад: Эпидемия фейков: борьба с коронавирусом как угроза свободе слова</h4>
        <span>Уголовная статья о фейках стала удобным инструментом расправы над публичными критиками властей — 17 из 42 случаев уголовного преследования связаны с высказываниями активистов, журналистов, блогеров и политиков...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block"
               href="/static/core/doc/Эпидемия фейков. Борьба с коронавирусом как угроза свободе слова. 2020. Агора.pdf"
               target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2020</h3>
        <h4 class="mb-2">Исследование: Ограничение цифровых прав и гражданских свобод в эпоху пандемии</h4>
        <span>Анализ принимаемых законов и правоприменительных практик 12 стран на фоне борьбы с коронавирусом позволяет сделать вывод, что действия многих правительств привели к существенному ограничению прав граждан на прайваси и свободу информации...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/rks.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="https://roskomsvoboda.org/61319/" target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2020</h3>
        <h4 class="mb-2">Доклад: Год «явного неуважения» к президенту‎</h4>
        <span>Настоящее исследование посвящено обзору первого года практики применения так называемого «закона о неуважении к власти», ограничивающего критику государственных органов и символов.</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block"
               href="/static/core/doc/Год «явного неуважения» к президенту_. 2020. Агора.pdf" target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2020</h3>
        <h4 class="mb-2">Доклад: Лучшие мировые практики защиты цифровых прав</h4>
        <span>Мы заглянули в международные документы и национальные законы разных стран, чтобы найти там самые удачные примеры защиты цифровых прав, которые смогут стать толчком для перезапуска интернет-регулирования в России и пересмотра законов и практик для улучшения ситуации с правами человека онлайн...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/rks.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="https://roskomsvoboda.org/60443/" target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2020</h3>
        <h4 class="mb-2">Доклад: Пандемия слежки</h4>
        <span>Пандемия коронавируса оправдала резкое углубление и расширение слежки за гражданами. Введение карантина послужило катализатором развития всех видов слежения, однако, прежде всего, — цифровых технологий...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="https://spy.runet.report/" target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2019</h3>
        <h4 class="mb-2">Доклад: Свобода интернета 2019: план «Крепость»</h4>
        <span>Власти после ряда колебаний несколько лет назад определились с основным вектором политики в отношении российского сегмента интернета — контроль, цензура и изоляция...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs mr-2" src="/static/core/landing/images/agora.png"/>
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/rks.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="https://roskomsvoboda.org/55136/" target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2015-2019</h3>
        <h4 class="mb-2">Отчет: Мониторинг преследования граждан за онлайн-публикации 2015-2019</h4>
        <span>Отчет включает в себя общие статистические показатели по преступлениям экстремистской направленности,  а также иным преступлениям, ответственность за которые предусмотрена формальными составами УК РФ с квалифицирующим признаком в форме распространения в интернете...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/rks.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block"
               href="https://docs.google.com/document/d/17-2Z3_51FF1nmKMrH3cBPXCuPSHC05Lk" target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2018</h3>
        <h4 class="mb-2">Доклад: Свобода интернета 2018: делегирование репрессий</h4>
        <span>Российские власти надеются контролировать интернет, вынудив к сотрудничеству крупные сервисы и монополизируя рынок доступа в интернет...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block"
               href="/static/core/doc/Свобода интернета 2018. Делегирование репрессий. Агора.pdf"
               target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2018</h3>
        <h4 class="mb-2">Доклад: Россия против Истории. Наказание за пересмотр</h4>
        <span>Настоящий доклад представляет собой обзор случаев вмешательства государства в свободу выражения в связи с интерпретацией и оценкой исторических событий, а также ограничением доступа к архивам исторических документов</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block"
               href="https://guides.files.bbci.co.uk/bbc-russian/Russia_vs_History.pdf" target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2018</h3>
        <h4 class="mb-2">Доклад: Неофобия российской власти</h4>
        <span>Этот страх российской власти проявляется не только, когда дело касается технологических новинок в узком смысле, но в самых различных сферах жизни, в которых российское  государство сопротивляется внедрению позитивных практик.</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="/static/core/doc/AGORA. Neophobia ot the Russian State.pdf"
               target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2017</h3>
        <h4 class="mb-2">Доклад: Россия под наблюдением 2017: как власти выстраивают систему тотального контроля над
          гражданами</h4>
        <span>Обычный законопослушный житель России сегодня подвергается постоянному риску произвольного доступа к информации о его частной жизни и персональным данным...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="/static/core/doc/РОССИЯ ПОД НАБЛЮДЕНИЕМ 2017_РУС.pdf"
               target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2017</h3>
        <h4 class="mb-2">Доклад: Свобода интернета 2017: ползучая криминализация</h4>
        <span>В среднем каждый день 2017 года в рунете блокировались 244 страницы, каждые 6 дней пользователи подвергались нападению или угрозам, а каждые 8 – звучал приговор с реальным лишением свободы...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="/static/core/doc/Agora_Internet_Freedom_2017_RU.pdf"
               target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2017</h3>
        <h4 class="mb-2">Доклад: Сотня российских разоблачителей</h4>
        <span>Тема защиты лиц, публично раскрывающих информацию о нарушениях, становится все более актуальной не только для России, где разоблачители регулярно подвергаются давлению, в арсенал которого входят убийства, насилие, уголовное преследование и меры дисциплинарного воздействия, но и для остального мира...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block"
               href="/static/core/doc/Сотня_российских_разоблачителей_Доклад_Агоры.pdf" target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2016</h3>
        <h4 class="mb-2">Доклад: Свобода интернета 2016: на военном положении</h4>
        <span>Внутри страны жители постепенно оказались в тылу воюющего в киберпространстве государства, в котором действует фактически военное положение с сильной цензурой и жесткой реакцией на любое несогласие...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="/static/core/doc/Agora_Report_2016_Internet.pdf" target="_blank">Читать</a>
          </span>
        </div>
      </div>


      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2016</h3>
        <h4 class="mb-2">Доклад: Россия под наблюдением</h4>
        <span>За последние 9 лет не менее 9 млн человек (примерно 6% жителей) в России могли подвергаться прослушиванию только на основании судебного решения...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block"
               href="/static/core/doc/Россия_под_наблюдением_2016_доклад_Агоры_Survelliance_Report_Agora.pdf"
               target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2016</h3>
        <h4 class="mb-2">Доклад: Свобода слова как жертва. Цензура вследствие конфликта России и Украины</h4>
        <span>Неоправданные и непропорциональные, а зачастую попросту незаконные ограничения свободы выражения, мирных собраний и объединений, а также свободы мысли, совести и религии, разрушают демократию, вредят международному имиджу как России, так и Украины...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block"
               href="https://www.agora.legal/articles/Doklad-Mezhdunarodnoi-Agory-%C2%ABSvoboda-slova-kak-zhertva-Cenzura-vsledstvie/8"
               target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2015</h3>
        <h4 class="mb-2">Доклад: Свобода интернета 2015: торжество цензуры</h4>
        <span>В самом ближайшем будущем гражданам, возможно, придется столкнуться с ограничением доступа к зарубежным сервисам и ужесточением практики уголовного преследования за выражение своего мнения онлайн...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block"
               href="/static/core/doc/Свобода интернета 2015. Торжество цензуры. Агора.pdf" target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2014</h3>
        <h4 class="mb-2">Доклад: Свобода интернета 2014: Власти не оставляют интернету выбора</h4>
        <span>Настоящий доклад посвящен обзору ограничений свободы интернета в России, полученных в результате постоянного мониторинга ситуации, проводившегося на протяжении 2014 года.</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="/static/core/doc/Свобода интернета 2014 (АПИ).doc"
               target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2013</h3>
        <h4 class="mb-2">Доклад: Свобода интернета 2013: Атака охранителей</h4>
        <span>Настоящий доклад посвящен обзору нарушений прав российских пользователей интернета в 2013 году.</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="/static/core/doc/Свобода интернета 2013.pdf" target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2012</h3>
        <h4 class="mb-2">Доклад: Свобода интернета 2012</h4>
        <span>В настоящем докладе рассматриваются проблемы ограничения свободы Интернета, с которыми российские пользователи столкнулись в 2012 году.</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="/static/core/doc/Свобода интернета 2012.doc" target="_blank">Читать</a>
          </span>
        </div>
      </div>

      <div class="card card-body hover-shadow-sm">
        <h3 class="text-center text-primary">2008-2011</h3>
        <h4 class="mb-2">Доклад: Несвобода Интернета (2008-2011)</h4>
        <span>Появление и распространение новых форм выражения мнения вызвало и усиление соответствующего давления на активистов...</span>
        <div class="mt-3 row">
          <div class="col-12 col-md-9 mb-3 mb-md-0 text-center text-md-left">
            <img class="icon icon-logo icon-xs" src="/static/core/landing/images/agora.png"/>
          </div>
          <span class="text-primary col-12 col-md-3 text-md-right">
            <a class="btn btn-primary btn-block" href="https://agora.legal/fs/a_delo2doc/105_file_openinform_313.pdf"
               target="_blank">Читать</a>
          </span>
        </div>
      </div>

    </div>
  </div>
</section>


{% endblock %}

{% block user_scripts %}
<script type="text/javascript">
  $('#reports-link').addClass('active')
</script>
{% endblock %}
