.bg-gradient-primary {
  background-color: #0D2128;
  background-image: none;
}

.table td {
  font-size: 0.9rem;
}

.table tbody td:first-child {
  padding: 0;
  vertical-align: middle;
  height:1px;
}

.table td:first-child > a {
  display: table-cell;
  width: 100%;
  height: 100%;
  padding: 12px;
  vertical-align: middle;
}

.table .row-title {
  cursor: pointer;
}

.table tr:hover td {
  background-color: #f9fbff;
}

.labels-style div {
  font-size: 1.1rem;
}

.labels-style label:not(.big-label) {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

label:not(.big-label) {
  color: #a8a9ba !important;
  font-size: 0.85rem !important;
  font-weight: bolder !important;
}

h2 {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .sidebar:not(.toggled), .sidebar:not(.toggled) .nav-item .nav-link{
    width: 17rem !important;
  }
}

.action-confirm {
  display: none;
  font-size: 0.8rem;
  transition-duration: 1s;
}
.bg-grey {
  box-shadow: inset 0 4px 8px rgba(0,0,0,0.2);
}
.bg-grey, .bg-grey .form-controrl {
  background-color: #f0f1f5;
}

.selected td {
  color: #42555e;
  background-color: #f0f8fc;
}

#variables ul {
  list-style: none;
  padding: 0;
}
#variables li {
  margin-top: 0.25em;
  color: #666;
}
#variables > label > span {
  color: #000;
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
}

#stage-modal,
#explanation-modal {
  max-width: 1200px;
  width: 1200px;
  height: auto;
  max-height: auto;
  overflow-y: auto;
}
